<div class="jumbotron">
  <div class="container">
    <h3 class="text-monospace">Teach the world online</h3>
    <h4 class="text-muted">Create an online video course, reach students across the globe, and earn money</h4>
  </div>
</div>
<hr>
<div class="d-flex container font-weight-light">
  <div class="displaylist">
    <ul>Udemy for Business</ul>
    <ul>Teach on Udemy</ul>
    <ul>Udemy app</ul>
    <ul>About us</ul>
  </div>
  <div class="displaylist">
    <ul>Careers</ul>
    <ul>Blog</ul>
    <ul>Help and Support</ul>
    <ul>Affiliate</ul>
  </div>
  <div class="displaylist">
    <ul>Sitemap</ul>
    <ul>Featured courses </ul>
  </div>
</div>
<hr>
<div class="container">
  <table class="table table-borderless">
    <tr>
      <td><h3 class="font-weight-bold  d-inline">Udemy</h3></td>
      <td><span class="d-inline">Copyright © 2020 Udemy, Inc.</span></td>
      <td><a href="#">Terms</a> </td>
      <td><a href="#"> Privacy Policy and Cookie Policy </a></td>
    </tr>
  </table>
</div>

